<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="flex">
        <% @posts.each do |post| %>
          <h1><%= post[:theme] %></h1>
          <%= post[:image_name]%>
          <img src="" alt="" class="">
          <%#= post.created_at%>
        <% end %>
      </div>
    </div>
    <div class="col-md-4">
      <%= render 'layouts/menu' %>
    </div>
  </div>
</div>