<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="flex">
        <h1>トップ画面</h1>
      </div>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>