<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="flex">
        <img src="" alt="" class="">
        <h1>題名</h1>
        <p>1111111111111111111111</p>
      </div>
    </div>
    <div class="col-md-4">
      <%= render 'layouts/menu' %>
    </div>
  </div>
</div>