<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="flex">
        <%= form_tag posts_path,method: :post, multipart: true do %>
          <p>テーマを入力してください</p>
          <input name="theme" value="<%= @post.theme %>">
          <p>アイコンを登録してください</p>
          <input name="image" type="file">

          <input type="submit" value="作成">
        <% end %>
      </div>
    </div>
    <div class="col-md-4">
      <%= render partial:'layouts/menu' %>
    </div>
  </div>
</div>