// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  font-family: serif;
}

.image-75 img{
  width: 75%;
}

.fc-w a{
  font: 1em sans-serif;
  color: white;
}

