<div  class="menu">
  <div class="subbar">
    <div class="">
      <h2><%= link_to "スレッドを作成する",new_post_path %></h2>
    </div>
    <div class="border rounded mt-5">
      <h1 class="border rounded">カテゴリー</h1>
      <% categories= Category.all %>
      <%= categories.each do|category|%>
        <%#= link_to c.name, %>
        <span>・</span><%= category.name %>
          <br>
      <% end %>
      <br>
      <%= link_to "カテゴリを追加",new_category_path%>
    </div>
  </div>
</div>