<div  class="menu">
      <div class="subbar">
        <div class="">
          <h2><%= link_to "スレッドを作成する",new_post_path %></h2>
        </div>
        <div class="">
          <h1>カテゴリー</h1>
          <p>----------</p>
          <p>----------</p>
          <p>----------</p>
          <p>----------</p>
          <p>----------</p>
          <p>----------</p>
        </div>
        <!--
        <% if @current_user %>
          <li>
          <img src="<%="/user_images/#{@current_user.image_name}"%>">
          <br><%= link_to(@current_user.name,"/users/#{@current_user.id}/edit")%>
          </li>
          <li>
            <%= link_to("ホームへ戻る","/users/#{@current_user.id}") %>
          </li> 
        <% end %>
         -->
    </div>
    </div>